<!-- Display the author's name at the top of the page -->
<h1>Articles by {{author_name}}</h1>

<!-- Articles list -->
<div class="article-list">
    {{#each articles}}
        <article>
            <!-- Article image -->
            <a href="/article/{{slug}}">
                <img src="/images/{{image}}" alt="">
            </a>
            <!-- Article title -->
            <h2>
                <a href="/article/{{slug}}">
                    {{article_name}}
                </a>
            </h2>
        </article>
    {{/each}}
</div>
